.token-information{
    display: flex;
    flex-direction: column;
    padding: 1.3em;
    background-color: rgb(243, 243, 242);
    gap: 0.9em;
    margin: 1.3em;
    border-radius: 0.6em;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.1);
}
.token-information h2{
    font-size: x-large;
}
.token-information .tokens{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.token-information h2{
    display: flex;
    gap: 0.3em;
}
.token-cont svg{
    margin-bottom: 17%;
}
.token-cont{
    padding: 10px 6em 10px 10px;
    border: 2px solid rgb(177, 175, 175);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2em;
    transition: 200ms ease-in;
}
.token-cont:hover{
    transform: translateY(-4px);
    cursor: pointer;
    background: rgba(204, 202, 202, 0.603);

}
.token-cont p{
    font-size: large;
}
.token-cont svg{

}
.token-name h4{
    font-size: small;
    color: rgb(48, 47, 47);
}